doctype html
html(lang='en')
  head
    title Online Registration Form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
      header
      main
      footer